@import '~@angular/material/theming';

@include mat-core();

$tbm-primary: mat-palette($mat-grey, 800, 700, 900);
$tbm-accent: mat-palette($mat-amber);
$tbm-warn: mat-palette($mat-red);

$tbm-theme: mat-light-theme($tbm-primary, $tbm-accent, $tbm-warn);

@include angular-material-theme($tbm-theme);
