<div class="presentation py-5 text-center">
  <h2 class="h2-title">Médias</h2>
  <div class="d-flex">
    <div class="hr-title mx-auto"></div>
  </div>
  <div class="row justify-content-center my-5">
    <div class="col-auto">
      <div class="p-25 border-1">
        <div class="media-image-container" (click)="openPressKit()">
          <div class="media-3 w-100 h-100">
            <div class="bg-overlay d-flex">
              <div class="mx-auto media-icon icon-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left p-25">
        <h3 class="media-title">Dossier Presse</h3>
        <p class="media-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
        </p>
      </div>
    </div>
    <div class="col-auto">
      <div class="p-25 border-2">
        <div class="media-image-container" (click)="openImageGallery()">
          <div class="media-2 h-100 w-100">
            <div class="bg-overlay d-flex">
              <div class="mx-auto media-icon icon-2"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left p-25">
        <h3 class="media-title">Photos</h3>
        <p class="media-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
        </p>
      </div>
    </div>
    <div class="col-auto">
      <div class="p-25 border-3">
        <div class="media-image-container" (click)="openVideoGallery()">
          <div class="media-1 h-100 w-100">
            <div class="bg-overlay d-flex">
              <div class="mx-auto media-icon icon-3"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-left p-25">
        <h3 class="media-title">Vidéos</h3>
        <p class="media-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
        </p>
      </div>
    </div>
  </div>
</div>
