<div class="presentation subscribe text-center" [formGroup]="subscriptionForm" (keydown.enter)="submitForm()">
  <h2 class="h2-title">Inscrivez-vous</h2>
  <div class="d-flex">
    <div class="hr-title mx-auto"></div>
  </div>
  <div class="my-5 text-center text-md-left">
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input formControlName="last_name" matInput placeholder="Ben Foulen">
          <mat-error *ngIf="isFieldInvalid('last_name') && this.subscriptionForm.get('last_name').errors.required">
            Ce champ est requis!
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('last_name') && this.subscriptionForm.get('last_name').errors.minlength">
            Ce champ devrait comprendre au moins 2 caractères.
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('last_name') && this.subscriptionForm.get('last_name').errors.maxlength">
            Ce champ devrait comprendre au plus 45 caractères.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>Prénom</mat-label>
          <input formControlName="first_name" matInput placeholder="Foulen">
          <mat-error *ngIf="isFieldInvalid('first_name') && this.subscriptionForm.get('first_name').errors.required">
            Ce champ est requis!
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('first_name') && this.subscriptionForm.get('first_name').errors.minlength">
            Ce champ devrait comprendre au moins 2 caractères.
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('first_name') && this.subscriptionForm.get('first_name').errors.maxlength">
            Ce champ devrait comprendre au plus 25 caractères.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>Surnom</mat-label>
          <input formControlName="nickname" matInput placeholder="Foulen">
          <mat-error *ngIf="isFieldInvalid('nickname') && this.subscriptionForm.get('nickname').errors.required">
            Ce champ est requis!
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('nickname') && this.subscriptionForm.get('nickname').errors.minlength">
            Ce champ devrait comprendre au moins 2 caractères.
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('nickname') && this.subscriptionForm.get('nickname').errors.maxlength">
            Ce champ devrait comprendre au plus 25 caractères.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>CIN</mat-label>
          <input formControlName="cin" matInput type="number" placeholder="07000000">
          <mat-error *ngIf="isFieldInvalid('cin') && this.subscriptionForm.get('cin').errors.required">
            Ce champ est requis!
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('cin') && this.subscriptionForm.get('cin').errors.minlength">
            Ce champ devrait comprendre exactement 8 chiffres.
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('cin') && this.subscriptionForm.get('cin').errors.maxlength">
            Ce champ devrait comprendre exactement 8 chiffres.
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>Date de naissance</mat-label>
          <input formControlName="birthdate" matInput [matDatepicker]="picker" [max]="today" (focus)="picker.open()" placeholder="JJ/MM/AAAA">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="isFieldInvalid('birthdate') && this.subscriptionForm.get('birthdate').errors.required">
            Ce champ est requis!
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-10 col-md-4 d-flex justify-content-center justify-content-md-start">
        <div class="row my-auto w-92 pb-3 pb-md-0">
          <div class="col-3">Sexe: </div>
          <div class="col-9">
            <button class="check-button" [ngClass]="{'active' : getSex() == 0, 'disabled': getSex() != 0}" (click)="setSex(0)">M</button>
            <button class="check-button" [ngClass]="{'active' : getSex() == 1, 'disabled': getSex() != 1}" (click)="setSex(1)">F</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <mat-form-field>
          <mat-label>Nationalité</mat-label>
          <input formControlName="nationality" matInput type="text" placeholder="Tunisien.ne">
          <mat-error *ngIf="isFieldInvalid('nationality') && this.subscriptionForm.get('nationality').errors.required">
            Ce champ est requis!
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('nationality') && this.subscriptionForm.get('nationality').errors.minlength">
            Ce champ devrait comprendre au moins 2 caractères.
          </mat-error>
          <mat-error *ngIf="isFieldInvalid('nationality') && this.subscriptionForm.get('nationality').errors.maxlength">
            Ce champ devrait comprendre au plus 25 caractères.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-10 col-md-4 d-flex justify-content-center justify-content-md-start">
        <div class="row my-auto w-92 pb-1 pb-md-0">
          <div class="col-3">Taille: </div>
          <div class="col-9">
            <button *ngFor="let size of sizes" class="check-button" [ngClass]="{'active' : getCurrentSize() == size, 'disabled': getCurrentSize() != size}" (click)="setCurrentSize(size)">{{size}}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-4">
        <div>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input formControlName="email" matInput type="email" placeholder="foulen.benfoulen@example.tn">
            <mat-error *ngIf="isFieldInvalid('email') && this.subscriptionForm.get('email').errors.required">
              Ce champ est requis!
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('email') && this.subscriptionForm.get('email').errors.email">
              Veuillez entrer une adresse e-mail valide
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Club/Sponsor</mat-label>
            <input formControlName="club" matInput type="text" placeholder="Club/Sponsor">
            <mat-error *ngIf="isFieldInvalid('club') && this.subscriptionForm.get('club').errors.required">
              Ce champ est requis!
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('club') && this.subscriptionForm.get('club').errors.minlength">
              Ce champ devrait comprendre au moins 2 caractères.
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('club') && this.subscriptionForm.get('club').errors.maxlength">
              Ce champ devrait comprendre au plus 45 caractères.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Contact d'urgence</mat-label>
            <input formControlName="emergency_contact" matInput type="text" placeholder="Contact d'urgence">
            <mat-error *ngIf="isFieldInvalid('emergency_contact') && this.subscriptionForm.get('emergency_contact').errors.required">
              Ce champ est requis!
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('emergency_contact') && this.subscriptionForm.get('emergency_contact').errors.minlength">
              Ce champ devrait comprendre au moins 2 caractères.
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('emergency_contact') && this.subscriptionForm.get('emergency_contact').errors.maxlength">
              Ce champ devrait comprendre au plus 45 caractères.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>N° contact d'urgence</mat-label>
            <input formControlName="emergency_contact_num" matInput type="number" placeholder="71 000 000">
            <mat-error *ngIf="isFieldInvalid('emergency_contact_num') && this.subscriptionForm.get('emergency_contact_num').errors.required">
              Ce champ est requis!
            </mat-error>
            <mat-error *ngIf="isFieldInvalid('emergency_contact_num') && this.subscriptionForm.get('emergency_contact_num').errors.minlength">
              Ce champ devrait comprendre au moins 6 chiffres.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-10 col-md-4 text-left pb-3">
        <h5 class="paragraph-title mt-3">Pack coureur comprend :</h5>
        <ul class="runner-pack-list">
          <li>Un dossard à puce nominatif</li>
          <li>Un sac en tissu personnalisé TMB</li>
          <li>Un T-shirt technique TMB</li>
          <li>Un gobelet réutilisable TMB</li>
          <li>Le ravitaillement</li>
          <li>Un repas à l'arrivée</li>
          <li>Des photos de qualité</li>
        </ul>
        <small class="form-text">
        D'autres cadeaux sont réservés aux finishers et aux gagnants...
        </small>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <div class="form-check">
          <input formControlName="rules_and_agreements" [ngClass]="{'is-invalid': isFieldInvalid('rules_and_agreements') && this.subscriptionForm.get('rules_and_agreements').errors.required}" class="form-check-input" type="checkbox" id="terms-checkbox">
          <label class="form-check-label font-weight-bold check-label" for="terms-checkbox">
            J'ai lu et j'accèpte <a href="http://trailmontbougarnine.com/reglements__organisation.pdf" (click)="$event.stopPropagation()" target="_blank">les conditions générales et règlements</a> de la course
            <small class="form-text font-weight-bold">(Certificat médical obligatoire)</small>
          </label>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-10 col-md-8 row">
        <div class="col-auto">
          <button class="tmb-btn payment-btn mt-2" [ngClass]="{'disabled': this.subscriptionForm.invalid || currentlyBusy}" [disabled]="this.subscriptionForm.invalid || currentlyBusy" (click)="submitForm()">Acheter via Teskerti.tn</button>
          <div class="d-flex">
            <small class="font-weight-bold mx-auto my-1">Frais d'inscription: 120 dt</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="space-filler">

  </div>
</div>
