<ng-progress></ng-progress>
<div class="container-fluid">
  <div class="custom-navbar fixed-top d-flex">
    <div class="top row no-gutters navbar justify-content-center my-auto">
      <div class="col-auto active" (click)="go(home)">Accueil</div>
      <div class="col-auto" (click)="go(course)">Course</div>
      <div class="col-auto" (click)="go(route)">Parcours</div>
      <!--<div class="col-auto">Résultats</div>-->
      <div class="col-auto" (click)="go(partners)">Partenaires</div>
      <div class="col-auto" (click)="go(volunteers)">Bénévoles</div>
      <div class="col-auto" (click)="go(media)">Médias</div>
      <div class="col-auto" (click)="go(register)">Inscription</div>
    </div>
  </div>
  <div class="header pt-5" #home>
    <div class="landing-image text-center py-3 mt-4">
      <img src="../assets/logo_notext.svg" alt="Trail Mont Boukornine">
    </div>
    <div class="text-center">
      <h1 class="landing-title">TRAIL MONT <span class="bold">BOUGARNINE</span></h1>
      <div class="row no-gutters justify-content-center">
        <div class="col-1 d-flex">
          <div class="hr-line my-auto"></div>
        </div>
        <div class="col-auto landing-date px-3">19 AVRIL 2020</div>
        <div class="col-1 d-flex">
          <div class="hr-line my-auto"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="text">
      <div class="row justify-content-center py-md-4 py-2">
        <div class="col-auto">
          <div class="box text-center d-flex">
            <span class="my-auto">40 Km</span>
          </div>
        </div>
        <div class="col-auto">
          <div class="box text-center d-flex">
            <span class="my-auto">1300 D+</span>
          </div>
        </div>
      </div>
      <div class="text-center mt-md-5 pt-md-3">
        <button class="subscribe-btn" (click)="go(register)">S'inscrire</button>
      </div>
    </div>
  </div>
  <div class="presentation text-center" #course>
    <h2 class="h2-title">Présentation de la course</h2>
    <div class="d-flex">
      <div class="hr-title mx-auto"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 offset-1 offset-lg-3 col-lg-6 description text-center mx-auto my-4">
        <p>
          Le concept du trail du Mont Bougarnine repose sur la volonté des créateurs de l’événement  d’allier une épreuve sportive à une action festive de sensibilisation aux problématiques de  protection du milieu naturel et de développement durable.
        </p>

        <p>
          Les organisateurs aspirent à organiser la première compétition homologuée par l’ITRA
          (Organisation Mondiale du Trail) sur le grand tunis (la deuxième en Tunisie) et à redonner à
          la montagne de Bougarnine la place qu’elle occupait avant les attentats de Slimane
        </p>
        <p>
          Il s’agit de la première compétition du genre sur le grand Tunis.
          Le TMB dans sa première édition aura lieu le samedi 18 avril. Le départ sera donné devant
          la municipalité de Boumhal à 7h du matin.
        </p>
      </div>
    </div>
  </div>
  <div class="presentation text-center" #route>
    <h2 class="h2-title">Parcours</h2>
    <div class="d-flex">
      <div class="hr-title mx-auto"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-lg-5 offset-lg-1 text-left py-4">
        <h3 class="h3-title">19/04/2020</h3>
        <h3 class="h3-title">Municipalité de Boumhel El Bassatine</h3>
        <div class="row">
          <div class="col-4">
            <div class="hr-line"></div>
          </div>
          <div class="col text-center">
            <button class="tmb-btn">Plus d'infos</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 d-flex justify-content-end">
        <div class="ellipse-top-image"></div>
      </div>
    </div>
    <div>
      <img src="../assets/mock_map.png" alt="map mock image" style="width: 100%;">
    </div>
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="ellipse-bottom-image"></div>
      </div>
    </div>
  </div>

  <div #partners></div>
  <app-partners></app-partners>

  <div class="presentation volunteer text-center py-4" #volunteers>
    <h2 class="h2-title">Bénévoles</h2>
    <div class="d-flex">
      <div class="hr-title mx-auto"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-11 col-md-8 py-4">
        <div class="volunteer-text">
          <p>
            Vous aimez le trail ou la nature et vous voulez nous aider et aider nos amis?
            Ou alors peut-être que vous êtes blessé mais que vous voulez quand même être présent
          </p>
          <p>
            ...bienvenue parmi nous
          </p>
        </div>
        <div class="row no-gutters text-left pt-3 pb-4">
          <div class="col-md pt-4 px-2 px-md-0">
            <h5 class="volunteer-perk-t">Ce que nous offrons aux bénévoles :</h5>
            <ul class="volunteer-perk-list">
              <li>Une remise de 10% pour votre prochaine participation à notre course en 2021</li>
              <li>Un événement Inédit et festif</li>
              <li>Un souvenir</li>
              <li>Un repas</li>
            </ul>
          </div>
          <div class="col-md">
            <div class="d-flex">
              <div class="team-img mx-auto"></div>
            </div>
            <div class="volunteer-form text-center py-3">
              FORMULAIRE D'INSCRIPTION BÉNÉVOLE
            </div>
            <div class="text-center">
              <button class="tmb-btn">CLIQUER ICI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-sponsors></app-sponsors>
  <div #media></div>
  <app-media></app-media>
  <div #register></div>
  <app-signup></app-signup>
  <footer class="text-right px-2">
    Copyright © 2020 Trail Mont Bougranine
  </footer>
</div>
<router-outlet></router-outlet>
