@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: normal;
  src: local('Lemon/Milk Regular'), url('LemonMilk.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: bold;
  src: local('Lemon/Milk Bold'), url('LemonMilkbold.woff') format('woff');
}
@font-face {
  font-family: 'Lemon/Milk';
  font-style: normal;
  font-weight: 300;
  src: local('Lemon/Milk light Regular'), url('LemonMilklight.woff') format('woff');
}
